@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0,0.1);

}
.container .left_side {
    position: relative;
    background: rgb(45, 45, 253);
    padding: 40px;
}
.container .right_side {
    position: relative;
    background: rgb(243, 243, 245);
    padding: 40px;
}
.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}
.profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profileText .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileText h2 {
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo {
    padding-top: 40px;
}
.title {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul {
    position: relative;
}
.contactInfo ul li {
    list-style: none;
    position: relative;
    margin: 10px 0;
}
.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(25, 171, 207);
}
.contactInfo ul span {
    color: white;
    font-weight: 300;
}
.contactInfo .educaci贸n li {
    margin-bottom: 15px;
}
.contactInfo .educaci贸n h4 {
    color: rgb(244, 248, 248);
    font-weight: 500;
}
.contactInfo .educaci贸n h5:nth-child(2) {
    color: rgb(55, 235, 235);
    font-weight: 500;
}
.contactInfo .educaci贸n h5 {
    color: rgb(78, 243, 243);
    font-weight: 500;
}
.contactInfo.lenguaje .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: rgb(29, 11, 107);
    display: block;
    margin-top: 5px;
}
.contactInfo.lenguaje .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(33, 187, 248);
}
.container .right_side {
    position: relative;
    background: white;
    padding: 40px;
}
.about {
    margin-bottom: 50px;
}
.about:last-child {
    margin-bottom: 0;
}
.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p {
    color: #333;
}
.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company {
    min-width: 150px;
}
.about .box .year_company h4 {
    text-transform: uppercase;
    color: grey;
    font-weight: 600;
}
.about .box .text h5 {
    text-transform: uppercase;
    color: rgb(28, 110, 177);
    font-size: 16px;
}
.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4 {
    text-transform: uppercase;
    color: gray;
    font-weight: 500;
}
.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: rgb(204, 204, 204);
}
.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #0790cf;
}
.interest ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.interest ul li {
    list-style: none;
    color: #333;
    font-weight: 500;
    margin: 10px 0;
}
.interest ul li .fa {
    color: rgb(28, 110, 177);
    font-size: 18px;
}
@media (max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .interest ul {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    .about .box {
        flex-direction: column;
    }
    .about .box .year_company {
        margin-bottom: 5px;
    }
}